<!DOCTYPE html>
<!-- WARNING: URI is not registered (Settings | Languages & Frameworks | Schemas and DTDs)
See: https://stackoverflow.com/questions/38730992/thymleaf-for-spring-in-intellij-uri-is-not-registered -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
    <link rel='shortcut icon' th:href="@{icons/Contacts_favicon.ico}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <style>
        .uniform-image {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    </style>
</head>
<body style="background-color: #ffffff;">
<!-- content -->
<div class="d-flex justify-content-center align-items-center text-white p-3"
     style="background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); font-size: 32px;">
    <img th:src="@{images/Contacts_logo.png}" width="100" height="100" alt="Contacts Logo"/>&nbsp;Contacts
</div>
<div class="container p-5">
    <div class="p-3">These are your contacts. Cool guys! Have I seen them before?</div>
    <div>
        <h3>Contacts</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="contact : ${contacts}">
                <div class="card h-100">
                    <img th:src="@{${contact.image}}" class="card-img-top uniform-image" alt="Contact Image">
                    <div class="card-body">
                        <p class="card-text visually-hidden" th:text="${contact.id}"></p>
                        <p class="card-text"><strong>Name:</strong> <span th:text="${contact.firstName}"></span></p>
                        <p class="card-text"><strong>Surname:</strong> <span th:text="${contact.lastName}"></span></p>
                        <p class="card-text"><strong>Phone:</strong> <span th:text="${contact.phone}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

